body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
}

p, input, option, select, textarea, pre {
    font-size: 10pt;
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
}

#navigation {
    visibility: hidden;
}

/* This is default behaviour for saving form for error to back*/
form {
    behavior: url(#default#savehistory);
}

a:link {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

a:active {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

a:visited {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

a:focus {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

a.subheader {
    color: #FFFFFF;
    text-decoration: none;
}


a.aheader {
    color: #FFFFFF;
    text-decoration: none;
}

a.subheader:visited {
    color: #FFFFFF;
    text-decoration: underline;
}


a.aheader:visited {
    color: #FFFFFF;
    text-decoration: underline;
}

.rowOption {
    min-width: 30px;
    text-align: center;
}

td {
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
    font-size: 9pt;
    line-height: 11pt;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 2px 5px;
    color: #000000;
}

    td.leftRow1 {
        background-color: #D6CEBD;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
        font-style: normal;
        font-weight: bold;
    }

    td.leftRow1L {
        background-color: #D6CEBD;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
        font-style: normal;
        font-weight: bold;
    }

    td.leftRow1C {
        background-color: #D6CEBD;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: center;
        font-style: normal;
        font-weight: bold;
    }

    td.leftRow1R {
        background-color: #D6CEBD;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: right;
        font-style: normal;
    }

    td.rightRow1 {
        background-color: #FFFFEE;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
    }

    td.rightRow1L {
        background-color: #FFFFEE;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
    }

    td.rightRow1C {
        background-color: #FFFFEE;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    td.rightRow1R {
        background-color: #FFFFEE;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: right;
    }

    td.leftRow0 {
        background-color: #CCCCFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
        font-style: normal;
        font-weight: bold;
    }

    td.leftRow0L {
        background-color: #CCCCFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
        font-style: normal;
    }

    td.leftRow0C {
        background-color: #CCCCFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: center;
        font-style: normal;
    }

    td.leftRow0R {
        background-color: #CCCCFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: right;
        font-style: normal;
    }

    td.rightRow0 {
        background-color: #FFFFFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
    }

    td.rightRow0L {
        background-color: #FFFFFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: left;
    }

    td.rightRow0C {
        background-color: #FFFFFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: center;
    }

    td.rightRow0R {
        background-color: #FFFFFF;
        color: #000000;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: right;
    }

    td.lvl1text {
        text-decoration: none;
        color: #ffffff;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        background: #9F98CF;
        font-weight: bold;
    }

    td.pageNo {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 7pt;
        line-height: 10pt;
        text-decoration: none;
    }

    td.remark {
        font-size: 8pt;
        vertical-align: top;
    }

    td.remark_ns {
        font-size: 8pt;
        vertical-align: top;
    }

    td.heading {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        color: #000000;
        font-size: 8pt;
        font-weight: bold;
    }

    td.welcomeHeading {
        font-size: 8pt;
        background-color: #3366FF;
        color: #FFFFFF;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-style: italic;
        font-weight: bold;
    }

    td.bannerHeading {
        font-size: 8pt;
        background-color: #FFFFFF;
        color: #3366FF;
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        text-align: center;
        font-style: italic;
        font-weight: bold;
    }

th {
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
    font-size: 8pt;
    line-height: 14pt;
    text-decoration: none;
    background-color: #E8E8E8;
    color: #000000;
}

    th.screenID {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 8pt;
        line-height: 14pt;
        text-decoration: none;
        background-color: #E8E8E8;
        color: #ffffff;
        text-align: left;
        font-style: italic;
    }

    th.L {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 8pt;
        line-height: 14pt;
        text-decoration: none;
        background-color: #E8E8E8;
        color: #000000;
        text-align: left;
    }

    th.R {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 8pt;
        line-height: 14pt;
        text-decoration: none;
        background-color: #E8E8E8;
        color: #000000;
        text-align: right;
    }

    th.C {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 11pt;
        line-height: 13pt;
        text-decoration: none;
        background-color: #E8E8E8;
        color: #000000;
        text-align: center;
    }

    th.K {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 10pt;
        line-height: 14pt;
        text-decoration: none;
        background-color: #cccc99;
        color: #000000;
        text-align: right;
    }

    th.Q {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 10pt;
        line-height: 14pt;
        text-decoration: none;
        background-color: #999999;
        color: #000000;
        text-align: center;
    }


    th.tableHeader {
        font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
        font-size: 8pt;
        line-height: 14pt;
        text-decoration: none;
        background-color: #E8E8E8;
        color: #000000;
        font-weight: bold;
    }

input.alignRight {
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
    text-align: right;
}

.lvl1border {
    border: none;
}

.lvl1text {
    text-decoration: none;
    color: #ffffff;
    font: 10pt;
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
    background: #9F98CF;
    font-weight: bold;
}

.lvl2border {
    border: none;
}

.lvl2text {
    text-decoration: none;
    color: #000000;
    font: 10pt;
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
    background: #B7B3E7;
}

.lvl3border {
    border: none;
}

.lvl3text {
    text-decoration: none;
    color: #000000;
    font: 10pt;
    font-family: 'Segoe UI', Tahoma, SimSun, Geneva, Verdana, sans-serif;
    background: #cfcfff;
}

input.nodata {
    background-color: #C4ECD5;
}
