.p3{
    position:absolute;
    margin:60px 0px 0px 30px;
    width:20px;
    height:20px;
    background-color:black;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
}
.p4{
    position:absolute;
    margin:60px 0px 0px 60px;
    width:20px;
    height:20px;
    background-color:black;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
}
.p5{
    position:absolute;
    margin:90px 0px 0px 30px;
    width:20px;
    height:20px;
    background-color:black;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
}
.p6{
    position:absolute;
    margin:90px 0px 0px 50px;
    width:20px;
    height:20px;
    background-color:black;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
}
.p7{
    position:absolute;
    margin:120px 0px 0px 48px;
    width:20px;
    height:20px;
    background-color:black;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
}
.p8{
    position:absolute;
    margin:950px 0px 0px 57px;
    width:20px;
    height:20px;
    background-color:black;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:40px;
    border-top-right-radius:40px;
}